@charset "UTF-8";
:root {
	--actual_screenwidth: 1601px;
	--screencenter: 800.5px;
	--actual_screenheight: 2840px;
	--offset_left: 1200px;
	--century_text:#fdfcfc;
	--century_gradient_end:#FFE7C6;
	--disease_catastrophe:#405E71;
	--discovery_invention:#D89A28;
	--drug_company_history: #763416;
	--legislation:#64947D;
	--education:#5D5759;
	--health_science_history:#CD6828;
	--world_event:#907783;
	--disease_catastrophe_dark:#2C4453;
	--discovery_invention_dark:#AA5B1D;
	--drug_company_history_dark: #531E00;
	--legislation_dark:#3C6050;
	--education_dark:#403D3E;
	--health_science_history_dark:#8F3A14;
	--world_event_dark:#493B43;
	--century-height: 53px;
	--content-width: 320px;
	--event_transition_time: 0.05s;
	--total_clicks: 43148px;
	--prehistory_start: 0px;
	--siglo_16_start: 0.0759;
	--siglo_17_start: 0.2683;
	--siglo_18_start: 0.2924;
	--siglo_19_start: 0.3886;
	--siglo_20_start: 0.6050;
	--siglo_21_start: 0.9177;
	/*--siglo_16_start: 0.05px;
	--siglo_17_start: 0.25px;
	--siglo_18_start: 0.275px;
	--siglo_19_start: 0.375px;
	--siglo_20_start: 0.6px;
	--siglo_21_start: 0.925px;*/
	--prehistory_color:  #00b18a;
	--siglo_16_color:  #00b4e6;
	--siglo_17_color:  #f4d44f;
	--siglo_18_color:  #df1783;
	--siglo_19_color:  #ff5e38;
	--siglo_20_color:  #00b18a;
	--siglo_21_color:  rgb(28, 3, 250);

}
html {
	width: 100%;
	height: 100%;
}
* { 
	margin: 0;
	padding: 0;
}
#printed-png-object { max-width: none }

body {
	/* width: 1920px;
	height: 1080px; */
	font-family: myriad-pro;
	font-style: normal;
	font-weight: 300;
}
#root {
	display: none;
}
#timeline-block {
	display: block;
	min-width: calc(var(--actual_screenwidth) + var(--total_clicks) - var(--offset_left));
	height: 100%;
	overflow:visible;
	position:absolute;
	z-index: 6;
	left: 0px;
	top: 0px;
	padding-left: var(--offset_left);
}

#centuries-block {
	display: block;
	width: calc(var(--actual_screenwidth) + var(--total_clicks));
	height: var(--century-height);
	position:absolute;
	z-index: 5;
	top:50%;
}

#background-block {
	position: absolute;
	width:calc(1.025 * var(--total_clicks) * 1px);
	background-color: white;
}

#idle-block {
	position: absolute;
	width:1608px;
	height:100%;
	background-color: #e6e5e5;
	color: rgb(6, 0, 0);
	font-size:64pt;
	z-index: 1000;
	text-align: center;
}

#idle-block.active {
display: block;}
#idle-block.inactive {
	display: none;
}

#idle-text {
	left: 161px;
	top: 330px;
	width: 80%;
	position: absolute;
	display: none;
}

.event-era {
	position: relative;
	top: -200px;
}
.century {
	top: 0;
	position: absolute;
	width: 1px;
	background-color: white;
	height: 100%;
	color: white;
}
.century-label {
	color: var(--century_text);
	left: var(--screencenter);
	opacity: 1;
	position: relative;
	padding: 20px 3px 0px 3px;	
	z-index: 30;
	font-size: 16pt;
	font-style: normal;
	font-weight: bold;
	bottom: 2px;
	width: 300px;
	transform: translate(-50%, 0);
	text-align:center;
	margin-left: 20px;
	margin-right: 20px;
}
.century {
	height: 100%;
	position: absolute;
	z-index: 25;
	top: 0px;
	margin-top: 0px;
	
}
.century.prehistory {
	background-color: var(--prehistory_color);
	opacity: 1.0;
/* 	width: calc(var(--siglo_16_start) * (1.025 * var(--total_clicks)) + var(--offset_left));
 	width: calc((var(--siglo_16_start) * var(--total_clicks)) + var(--offset_left));
*/
	width: calc(var(--siglo_16_start) * var(--total_clicks));	
	left:0;

}
.century.sixteenth {
	background: 	var(--siglo_16_color);
	opacity: 1.0;
	width: calc(((var(--siglo_17_start) - var(--siglo_16_start)) * var(--total_clicks)));	
	left: calc(var(--siglo_16_start) * var(--total_clicks));
}
.century.seventeenth {
	background: var(--siglo_17_color);
	opacity: 1.0;
	width: calc((var(--siglo_18_start) - var(--siglo_17_start)) * var(--total_clicks));	
	left: calc(var(--siglo_17_start) * var(--total_clicks));
}
.century.eighteenth {
	background: var(--siglo_18_color);
	opacity: 1.0;
	width: calc((var(--siglo_19_start) - var(--siglo_18_start)) * var(--total_clicks));	
	left: calc(var(--siglo_18_start) * var(--total_clicks));
}
.century.nineteenth {
	background: var(--siglo_19_color);
	opacity: 1.0;
	width: calc((var(--siglo_20_start) - var(--siglo_19_start)) * var(--total_clicks));	
	left: calc(var(--siglo_19_start)* var(--total_clicks));
}
.century.twentieth {
	background: var(--siglo_20_color);
	opacity: 1.0;
	width: calc((var(--siglo_21_start) - var(--siglo_20_start) ) * var(--total_clicks));	
	left: calc(var(--siglo_20_start)* var(--total_clicks));
}
.century.twentyfirst {
	background: var(--siglo_21_color);
	opacity: 1.0;
	width: calc((1.0375 - var(--siglo_21_start)) * var(--total_clicks));
	left: calc(var(--siglo_21_start) * var(--total_clicks));
}

.century_marks {
	display:none;
	background: gray;
	opacity: 0.75;
	width: 200;
	left:0;
}

.end-caps {
	position: absolute;
    width: 44768px;
    height: 2560px;
    background-color: transparent;
    z-index: 200;
    left: 0;
    top: -1280px;
}
.instructions {
	font-size: xxx-large;
    color: black;
    width: 2500px;
    text-align: center;
    position: relative;
}

.left .instructions {
    transform: translateY(1280px) translateX(-1250px) rotateZ(-90deg);
    
    left: var(--century-height);
}

.right .instructions {
	transform: translateY(1280px) translateX(1250px) rotateZ(90deg);
    
    right: var(--century-height);
}

.down-arrow {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
	margin: auto;
}
.animate-right{
	animation-duration: 3s;
	animation-name: slide-right;
	animation-iteration-count: infinite;
	position:relative;
  }
  
  @keyframes slide-right {
	from {
	  top: 0px;
	}
  
	to {
	  top: 400px;
	}
  }

  .animate-right{
	animation-duration: 3s;
	animation-name: slide-left;
	animation-iteration-count: infinite;
	position:relative;
  }
  
  @keyframes slide-left {
	from {
	  top: 0px;
	}
  
	to {
	  top: 400px;
	}
  }
.exhibit-title {
	font-weight: 500;
	font-size: 200px;
}

.exhibit-description {
	font-size: 72px;
	margin: 70px 70px 150px 70px;
	font-weight: 400;
}

.instruction-text {
	font-size: 64px;
	font-weight: 300;
	margin: 0px 100px;
}

.end-cap.left {
	width: var(--century-height);
	background-color: var(--prehistory_color);
	left:0;
	position: inherit;
	height: 100%;

}
.end-cap.right {
	width: var(--century-height);

	background-color: var(--siglo_21_color);
	
	right:0;
	position: inherit;
	height: 100%;

}
#PharmacyWall {
	z-index:10;
	position: absolute;
	height: 100%;
}
.slider {
	position:absolute;
	display: none;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: gray;
	z-index: 100;
}
#slider-handle {
	position:sticky;
	display: block;
	margin: 5px;
	height: 30px;
	width: 50px;
	left: 0;
	background-color: white;
}
.printed-graphic {
	height: 100%;
	top: -124px;
	position: absolute;
	z-index: 0;
	opacity: 0.6;
	/*top: 200px;*/
}
#printed-svg-object {
	/* height:2580px; */
	width: 16728px;
}

.guideline {
	background-color: yellow;
	position: absolute;
}
.guideline.vertical {
	height: 100%;
	width: 2px;
}
.guideline.horizontal {
	width: 4000px;
	height: 2px;
	transform: translateY(calc(var(--century-height)/2));
}
.right-side {
	position: absolute;
	/* right: 0; needs to be relative to screen not whole thing */
	right:0;
}
.solid-black-left {
	width: 15%;
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 10;
}
.solid-black-right {
	width: 15%;
	background-color:  black;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 10;
}
.gradient-black-left {
	width: 35%;
	background-image: linear-gradient(to right, black, #00000000);
	position: absolute;
	left: 15%;
	top: 0;
	height: 100%;
	z-index: 10;
}
.gradient-black-right {
	width: 35%;
	background-image: linear-gradient(to left, black, #00000000);
	position: absolute;
	right: 15%;
	top: 0;
	height: 100%;
	z-index: 10;
}
.category-block {
	position: absolute;
/* 	border-style: solid;
 	padding: 2px;;
 	border-color:rgb(7, 252, 101);
 	transform: translateX(-50%);*/
}
.episode {
	display: block;
	width: fit-content;
	position: absolute;
	top: 50%;
	height: 100%;
	width: 1080px;
	border: none; /*1px solid green;*/
}

.upper {
	top:100px;
}
.lower {
	top: 0;
}

.upper .event-block-header{
bottom:1362px;
}	
.lower .event-block-header{
    top: 1327px;
}
.year {
	display: block;
	width: fit-content;
	position: absolute;
	top: 0px;
	height: 100%;
}
.year-dot {
	display: block;
	width:10px;
	height: 10px;
	position:absolute;
	padding: 2px;
	border-style: none;
	border-color:blueviolet;
	z-index: 1;
}
.year-year {
	display: block;
	width:50px;
	height: 100%;
	position:absolute;
	padding: 2px;
	border-style: none;
	border-color:blueviolet;
	z-index: 1;
}
.year-label {
	display: block;
	width:100px;
	height: 100%;
	position:absolute;
	padding: 2px;
	border-style: none;
	border-color:blueviolet;
	z-index: 1;
}
.year-block {
	display: block;
	width:700px;
	height: 100%;
	position:absolute;
	padding: 2px;
	border-style: none;
	border-color:blueviolet;
	z-index: 1;
}
.event-div {
	display: block;

}
@keyframes expandBox {
	from {
	  transform: scale(0);
	}
	to {
	  transform: scale(1);
	}
  }

  @keyframes shrinkBox {
	to {
	  transform: scale(0);
	}
	from {
	  transform: scale(1);
	}
  }

.Prescription {
	height: 100%;
	width: var(--content-width);
}

.event-block {
	width: var(--content-width);
/* 	min-height: 100px;
 */	background-color:#fff;
	color: 0;
	position:absolute;
	border-width: 3px;
	border-style: solid;;
	padding: 5px;
	border-radius: 2px;
	top: 50%;
	transform: translateY(-50%);
/* 	animation: expandBox var(--event_transition_time);
 *//* 	transition: height var(--event_transition_time) linear;
*/ 	transition: all var(--event_transition_time) linear width 0s linear;
	font-size: 12pt;
}
.h {
	transform: translateY(-100%);
}
/*
.m {
 	transform: translateY(0%);
 }
*/
.l {
	transform: translateY(0%);
}

.w {
/* 	transform: translateY(0%);
 */	width: 529px;
	font-size: smaller;
}

.event-block-header {
	position: absolute;
	left: 35px;
	text-align: center;
}

.event-dot {
	border-width: 10px;
	border-radius: 20px;
	border-style: solid;;
	width: 10px;
	height: 10px;
	margin: 0;
	background-color: black;
	color:white;
	transition: all var(--event_transition_time) linear;
/* 	transition: width var(--event_transition_time) linear;
 */		transform: translateY(200%);

}
.event-date {
	border-width: 0px;
	border-radius: 20px;
	border-style: solid;;
	margin: 0;
	background-color: transparent;
	color:white;
	transition: all var(--event_transition_time) linear;
/* 	transition: width var(--event_transition_time) linear;
 */	font-size: 14pt;
 	font-weight:bold;	
	padding-top: 8px;
	height: 30px;
	top: 46%;
    position: absolute;
	left: 55px;

}

.upper .event-date {
	top: 1170px;
}
.lower .event-date {
	top: 1270px;
}
.event-subject {
	border: none;
    margin: 0;
    color: black;
    padding: 20px;
    font-size: 44pt;
    transition: all var(--event_transition_time) linear;
    /* transition: width var(--event_transition_time) linear; */
    width: 900px;
    /* text-align: center; */
    display: block;
}
.event-year {
	font-weight: normal;
	text-align: center;
/* 	font-size:smaller;
 */}
.event-location {
	font-weight: normal;
	/*float:right;*/
	text-align: center;

/* 	font-size:smaller;
 */	font-style:italic;
}
.event-heading {
	font-weight: bold;
	text-align: center;
	width:200px;
	display:block;
}
.event-body {
	height: 1000px;
    max-height: 40%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    position: relative;
    padding-right: 5%;
}

.event-text-container {
	width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.event-text {
	color: black;
	font-style: normal;
	font-weight: 300;
	font-size: 32pt;
	line-height: 60px;
}

.lower .event-body {
    top: 1500px;
    position: relative;
}
.upper .event-body {
	top: 0px;
}

.event-images {
	background-color: transparent;
    height: 1100px;
    bottom: 1362px;
    position: absolute;
    width: 100%;
}
.upper .event-images {
	
    bottom: 182px;
    
}
.lower .event-images {
	
    bottom: calc(50% + 75px);
    
}

.image-set {
	width:100%;
    max-width:1000px;
	margin:auto;
	position:relative;
	object-fit: contain;
}

.lower .image-set {
/* 	top: -1000px;
 */}

.upper .image-set {
/* 	top: 300px;
 */}

.on {
	display: block;
}

.off {
	display: none;
}

.captioned-image {
	width:100%;
    max-width:1000px;
	margin:auto;
	position:fixed;
	height: 800px;
	
}



.captioned-image  img {
	display: block;
    width: 1000px;
    margin: auto;
    /* border-top: 15px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white; */
    /* width: 100%; */
    height: 980px;
    object-fit: contain;
}

.image-caption {
	text-align: center;
  background:#ffffff6b;
  color: black;
  /* Padding equal to img border */
  padding: 15px 15px;
  font-size: 24pt;
}

.image-credit {
	font-size:small;
	font-style: italic;
}

.first-image {
	width:100%;
    max-width:600px;
}

.event-dot .event-heading {
	display: none;
}

.event-dot * .event-year {
	display: none;
}

.event-dot * .event-location {
	display: none;
}

.event-dot .event-body {
	display: none;
}

.event-date .event-heading {
	display: none;
}

.event-date * .event-year {
	display: block;
}

.event-date * .event-location {
	display: none;
}

.event-date .event-body {
	display: none;
}

.event-label .event-heading {
	display: block;
}

.event-label * .event-year {
	display: block;
}

.event-label * .event-location {
	display: block;
}

.event-label .event-body {
	display: none;
}

.event-block .event-heading {
	display: block;
/* 	padding-top: 15px;
 */}

.event-block * .event-year {
	display: block;
	float: left
}

.event-block * .event-location {
	display: block;
	float: right;
}

.event-block.event-body {
	display: block;
}



.event-scroll-tick {
	width: 0px;
	height: 30px;
	position: absolute;
	border-style: solid;
	border-color:blueviolet;
	border-width:1px;
	top: 5px;
	
}
.disease_catastrophe_top {
	top: calc(0px + var(--century-height) * 0);
	height: calc(0px + var(--century-height));
	
}
.discovery_invention_top {
	top: calc(-1px + var(--century-height)* 1.0);
	height: calc(4px + var(--century-height));

}
.drug_company_history_top {
	top: calc(3px + var(--century-height) * 2.0);
	height: calc(-1px + var(--century-height));

}

.legislation_top {
	top: calc(1px + var(--century-height) * 3.0);
	height:calc(var(--century-height) + 3px);

}
.education_top {
	top: calc(4px + var(--century-height) * 4.0);
	height:calc(var(--century-height) + 1px);

}
.health_science_history_top {
	top: calc(5px +  var(--century-height) * 5.0);
	height:calc(var(--century-height) + 2px);

}
.world_event_top {
	top: calc(7px + var(--century-height) * 6.0);
	height:calc(var(--century-height) - 0px);

	
}

.category-block.disease_catastrophe_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));
	
}
.category-block.discovery_invention_top {
	transform: translateY(calc(3px - 50% + var(--century-height) / 2));

}
.category-block.drug_company_history_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));


}

.category-block.legislation_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));


}
.category-block.education_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));


}
.category-block.health_science_history_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));


}
.category-block.world_event_top {
	transform: translateY(calc(1px - 50% + var(--century-height) / 2));

}
.century_marks_top {
	top: calc(var(--century-height) * 7);
}

.drug_company_history {
	border-color: var(--drug_company_history);
	opacity: 1;
}
.discovery_invention {
	border-color: var(--discovery_invention);
	opacity: 1;
}
.health_science_history {
	border-color: var(--health_science_history);
	opacity: 1;
}
.disease_catastrophe {
	border-color: var(--disease_catastrophe);
	opacity: 1;
}
.legislation {
	border-color: var(--legislation);
	opacity: 1;
}
.education {
	border-color: var(--education);
	opacity: 1;
}
.world_event {
	border-color: var(--world_event);
	opacity: 1;
}

#video-block {
	text-align: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
video {
	text-align: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
body {
	margin: 0; /*seems i shouldn't need this since i used the universal selector but trying to eliminate any space at all on the page and am getting a weird one beneath each div */
	padding: 0;
	width: 100%;
	height: 100%;
	background: #000;
	overflow: hidden;
}
.wrap {
	width: 100%;
	margin: 0 auto;
}
.clear {
	clear: both;
}


.clrflt {
	clear: both;
}
